@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.text-amber-400 {
  color: var(--theme) !important;
}
.border-amber-400 {
  border-color: var(--theme) !important;
}
.bg-amber-400 {
  background-color: var(--theme) !important;
}
.fade-section {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}
